body
{
background-image:url("sunview.PNG");
}

.color-prop
{
color: white;
display:inline;
}

.Navbar
{
    padding: 20px;
    font-family:italic;
    font-weight:bold;
}
.Header
{
	font-size:40px;
	text-align:center;
	
}

.about-me
{
display:inline;
background-color: #483D8B;
color: white;
font-family:italic;
font-weight:bold;
font-size:30px;
} 

.form-style
{
 background-color: rgba(76, 175, 80, 0.5);
 width:50;
 height:50;
 align:center;	
 
}

.embd
{
width:350;
height:300;
align:right;
 
}

#body-style
{
text-align:center;
font-size:20px;
}

.button-style
{
	font-size:25px;
	color:black;
	font-weight:bold;
	background-color:#CD853F;
}
.set-font
{
	font-size:22px;
	color:white;
	font-weight:bold;
	 background: rgba(0, 0, 0, 0.5);
     display:inline;
     
/*	background-color: rgba(76, 175, 80, 0.3);*/
/*	background-color:#CD853F;*/
}
.set-font-contact
{
	font-size:20px;
	color:white;
	font-weight:bold;
	 background: rgba(0, 0, 0, 0.5);
	 display:inline;
	 font-family:italic;
/*	background-color: rgba(76, 175, 80, 0.3);*/
/*	background-color:#CD853F;*/
}
#past-section
{
	display:inline;
    background-color: #151B54;
    color: white;
    font-family:italic;
    font-weight:bold;
	font-size:30px;
}
.hobbies
{
  font-size:15px;
	
}

.Foot1
{
background-image: linear-gradient(to top left, tomato 50%, transparent 50%);
    color: black;
	font-family:italic;
	font-weight:bold;
}

#past-detail
{
	display:inline;
   background-color: #9ACD32;
    color: black;
}
#future-section
{
   display:inline;
   background-color: #FF4500;
   color: white;
   font-family:italic;
   font-weight:bold;
   font-size:30px;
}


#footer
{    background-color: #151B54;
    color: white;
font-family:italic;
font-weight:bold;
text-align:center;
padding:20px;
font-size:30px;
font-family:Monotype Corsiva;
}
ul.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.Navbar {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#active {
    background-color: #4CAF50;
}
.center
{
	text-align:center;
}
